@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf);
  font-weight: 400, 600, 700;
}
:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border- box;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 50rem;
  margin: 2rem auto;
  width: 38%;
}
body {
  font-family: inter;
  background-color: var(--offblack);
  color: var(--white);
  text-align: center;
}
main {
  background-color: var(--darkgrey);
  max-width: 320px;
  margin: 6rem auto;
  border-radius: 1.12rem;
  padding: .75rem;
}
a {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  background-color: var(--grey);
  border-radius: .6rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  font-size: .95rem;
  overflow: hidden;
}
h1 {
  font-size: 1.60rem;
  font-weight: 600;
  padding-bottom: .75rem;
}
h2 {
    font-size: .85rem;
    font-weight: 400;
}
.presentation-name-city p {
  color: var(--green);
  font-size: 0.9rem;
  font-weight: 600;
  padding-bottom: 1.7rem;
}
.presentation p :last-child {
  color: aqua;
}
.links {
    padding: 1rem 0rem 1rem 0rem;
}
.links a:hover {
    background-color: var(--green);
    color: black;

    transition:  ease-in-out 0.4s;
}
.links a:active{
    font-size: 1.2rem;
    transition: ease-in-out 0.1s;
}
@media screen and (min-width : 900px) {
    main {
        min-width: 450px;
    }
}
img {
    width: 25%;
}

h2 {
    font-size: 1rem;
}
h1{
    font-size: 1.8rem;
}
.presentation-name-city p {
    font-size: 1rem;
}

}